.headerClass {
    display: flex;
    justify-content: space-between;
}

.logoClass {
    min-height: 100px;
    width:200px;
}

nav.navigation {
    color: white;
    display: flex;
    align-items: center;
}