.project-section-container header {
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.project-section-container header h1{
    display: inline-block;
}

.project-section-container header a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.project-info-contents{
    background-color: teal;
    width: 100%;
    min-height: 600px;
    margin-top: 150px;
    border-radius: 50px;
}

.project-section-container a.button-container{
    display: flex;
    align-items: center;
}

.project-section-container .button-container{
    margin-left: 100px;
}

.view-all-project-button-right img{
    width: 25px;
    height: 25px;
    fill: white;
}