.services-navbar-container {
    padding-top: 100px;
}

.services-navbar {
    display: flex;
    justify-content: space-evenly;
}

a.services-item {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding-bottom: 50px;
}

a.services-item:hover {
    border-bottom: 2px solid #DFAE38;
    padding-bottom: 2px;
}