.testimonial-section-container header {
    padding-top: 150px;
}

.testimonial-content .navigation{
    padding-top: 70px;
}

.testimonial-content .nav-pills .nav-link{
    padding-bottom: 50px;
    border-bottom: 3px solid #5137B4;
}

.testimonial-content .nav-pills .nav-link.active{
    background-color: transparent;
    border-bottom: 3px solid #DFAE38;
}

.testimonial-content .nav-pills .nav-link.active .testimonial-logo-bg{
    background-color:#ea8c18;
    border-color: #fea418;
}

.testimonial-section-container .info {
    text-align: left;
}

.testimonial-content .nav-pills .nav-link.active .info h4 {
    color:#EB9E45;
}

.testimonial-person {   
    display: flex;
    align-items: center;
}

.testimonial-person .info {
    display: inline-block;
    padding-left: 10px;
}

.testimonial-person .info h4 {
    padding-top: 15px;
    color: #a790f6;
}

.testimonial-logo-bg {
    background-color:#4b2daf;
    border:1.5px solid #6C50D3;    
    height:80px;
    width:80px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%; 
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.testimonial-content .testimonial-qoutes{
    background-color: #5234b6;
    min-height: 500px;
    width: 100%;
    margin-top: 50px;
    border-radius: 30px;
    border: 4px solid #5739bb;
}

.testimonial-qoutes{
    padding: 100px;
    box-sizing: border-box;
}

.testimonial-qoutes h3{
    display: inline-block;
    width: 70%;
    line-height: 2.5rem;
}

.testimonial-qoutes .testimonial-button-container{
    display: block;
}

.testimonial-qoutes .button-container{
    padding-top: 50px;
}

.testimonial-qoutes span{
    color:#FEAD30;
    font-size: 3rem;
}
